*{margin: 0; padding: 0;}
nav{padding: 5px; display: flex; justify-content: space-around;}
nav a{text-decoration: none; padding: 5px;}
header{background-color: palegreen; height: 30px;}
img{height: 100px; width: 100px;}
#image{border: 5px solid; height: 150px; display: flex; justify-content: center; align-items: center;}
#container{border: 5px solid; display: flex; justify-content: space-around; height: 400px; width: 400px;}
.box{height: 75px; width: 75px; border: 5px solid red; flex-shrink: 0;}
#box2{flex-grow: 1; flex-shrink: 1;}
#box{height: 50px; width: 50px; background-color: darkseagreen; border: 5px solid;}
@media screen and (min-width: 300px) and (max-width: 400px)
{
    #box{background-color: red;}
}
@media screen and (min-width: 400px)
{
    #box{background-color: blue;}
}