#container{height: 25px; width: 90%; background-color: gainsboro; border: 5px solid; border-radius: 20px; position: relative; left: 5%;}
#bar{background-color: mediumorchid; height: 100%; border-radius: 20px; animation: progress 3s;}
@keyframes progress
{
    0%{width: 0;}
    90%{width: 95%;}
    95%{width: 70%;}
    100%{width: 100%;}
}